:root {
  --text-color:  #000000;
  --background-color:  #ffffff;
  --primary-color:  #ffffff;
  --secondary-color: #ffffff;
  --accent-color:  #1db345;
}

body {
  background-color : var(--background-color);
  color : var(--text-color);
  font-family: "Lucida Console", monospace;
  margin: auto;
  max-width: 1280px;
}

header {
  color : var(--text-color);   
  padding: 10px;
  margin-left: 50px;
  text-align: left;
}
h1 {
  font-size: 25px;
}


main {
  margin-top: 20px;
  margin-inline: 100px;
}

 a, a:focus, a:active {
     text-decoration: none;
     color: inherit;
 }

