:root {
  --text-color:  #000000;
  --background-color:  #ffffff;
  --primary-color:  #ffffff;
  --secondary-color: #ffffff;
  --accent-color:  #ffffff;
}

body {
  background-color : var(--background-color);
  color : var(--text-color);
  font-family: "Lucida Console", monospace;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

header {
  color : var(--text-color);   
  background-color: var(--accent-color);
  padding: 10px;
  margin-left: 50px;
  text-align: left;
  border-style: dashed;
  border-width: 3px;
  border-color: var(--background-color);
}
h1 {
  font-size: 25px;
}


main {
  position: ;
  margin-top: 20px;
}

 a, a:focus, a:active {
     text-decoration: none;
     color: inherit;
 }

